<div class="recipe-item">
  <div>
    <h4>
      <div (click)="toggleFavourite.emit(recipe().id)" class="title-container">
        <span>
          {{ recipe()?.title }}
        </span>
        <svg
          class="star-icon"
          [class.active]="isFavourite()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
          ></path>
        </svg>
      </div>
    </h4>
    <small class="subtitle">
      <span>Category: {{recipe().type}}</span>
    </small>
  </div>
  <button [routerLink]="getLink()">Details</button>
</div>
